.carousel {

    width: $carousel-width;
    height: $carousel-height;
    overflow: hidden;
    position: relative;
	&__wrapper {
		display: flex;
        height: $carousel-height;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
	}
	&__img {
        max-width: $carousel-width;
        max-height: $carousel-height;
        object-fit: cover;
	}
    &__left-arrow{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        background-color: transparent;
        z-index: 1;
        color: #063A5B;
        cursor: pointer;
    }
    &__right-arrow{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        background-color: transparent;
        z-index: 1;
        color: #063A5B;
        cursor: pointer;
    }
    &__nav{
        position: absolute;
        width: 100%;
        height: 20px;
        z-index: 1;
        bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
}
